/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

:host[numeric] {
  #progress-description {
    color: var(--text-color-deemphasized);
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
}

#bandwidth-header {
  margin: 0;
  font-weight: var(--heading-font-weight);
  font-size: var(--heading-font-size-medium);
}

#usage-help-text {
  color: var(--text-color-deemphasized);
}

#progress-bar {
  width: 100%;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-size-tokens */
  height: 10px;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/no-base-design-tokens, stylelint-plugin-mozilla/use-design-tokens */
  background-color: light-dark(var(--color-gray-20), var(--color-gray-80));

  border: 0.5px solid var(--border-color-card);
  border-radius: var(--border-radius-circle);

  &::-moz-progress-bar {
    /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens, stylelint-plugin-mozilla/no-non-semantic-token-usage */
    background-color: var(--icon-color-success);
    border: 0.5px solid var(--border-color-card);
    border-radius: var(--border-radius-circle);
    box-shadow: var(--box-shadow-level-1);
  }

  &[percent="75"]::-moz-progress-bar {
    /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens, stylelint-plugin-mozilla/no-non-semantic-token-usage */
    background-color: var(--icon-color-warning);
  }

  &[percent="90"]::-moz-progress-bar {
    /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens, stylelint-plugin-mozilla/no-non-semantic-token-usage */
    background-color: var(--icon-color-critical);
  }
}
